* {
  margin: 0;
  box-sizing: border-box;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: calc(100vh - 3rem);
  background-color: purple;
  z-index: -1;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  color: #0e2431;
  background-color: rgb(237, 232, 232);
}

a {
  text-decoration: none;
  color: #0e2431;
}

.l-header {
  background: rgb(237, 232, 232);
  box-shadow: 2px 2px 4px 2px gray;
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.navHead {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.nav__toggle {
  cursor: pointer;
  display: none;
}

.nav__logo {
  font-size: 1.1rem;
}
.nav__menu {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  list-style-type: none;
}
.nav__item {
  margin-right: 3rem;
}

/* Now the home page */

.home1 {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 4rem;
  min-height: calc(100vh - 2rem);
}

.home__title {
  line-height: 120px;
  font-size: 5rem;
}

/* .home__data {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  height: 200%;
} */

.home__img img {
  position: relative;
  border: 2px solid #404345;
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 300px;
  margin-bottom: 150px;
  top: 70px;
  right: 80px;
  box-shadow: 1px 1px 1px 4px #0e2431;
}

span {
  color: #4070f4;
}

.button {
  position: relative;
  border: 2px solid #4070f4;
  overflow: hidden;
  border-radius: 40px;
  text-align: center;
  background: purple;
  color: white;
  font-size: 1.1rem;
  padding: 1rem 1rem;
  width: 160px;
  transition: all 1s;
}

.button p {
  display: block;
  position: relative;
  color: white;
  transition: all 1s ease;
}

.button:hover p {
  color: purple;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 210px;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 1s ease-in;
}

.button:hover::before {
  left: 0px;
}

.home__social {
  max-width: max-content;
  height: 100px;
  justify-content: space-between;

  display: flex;
  flex-grow: 2;
  flex-direction: column;
  align-items: center;
  flex-direction: space-between;
}

i {
  font-size: 1.2rem;
}

.section-title {
  font-size: 2.3rem;
  color: purple;
  text-align: center;
}

/* ABOUT */

.second {
  margin-left: 4rem;
  margin-right: 4rem;
  position: relative;
}

/* .about {
  position: relative;
} */

.about_section {
  margin-top: 10rem;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 3px;
  background-color: purple;
  left: 0;
  right: 0;
  margin: auto;
  top: 3rem;
}

.about__container {
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
  align-items: center;
  height: calc(100vh - 12rem);
}

.about__img img {
  border-radius: 50px;
  width: 429px;

  object-fit: cover;
}

.about__subtitle {
  text-align: center;
}

.aboutText {
  width: 400px;
  font-size: 19px;
}

/* SKILLS */

.skills_section {
  background: rgb(237, 232, 232);
}

.skills__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 10rem);
  margin-top: 50px;
  margin-left: 8rem;
  margin-right: 8rem;
}

.skills__container img {
  width: 429px;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
  overflow: hidden;
}

.skills__subtitle {
  text-align: center;
  margin-bottom: 14px;
}

.row-1 {
  max-width: 500px;
  margin-right: 10px;
}

.skills_list {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  height: calc(400px - 90px);
  justify-content: space-evenly;
}

.skills__data {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 2px 2px gray;
  transition: 1s;
}

.skills__data:hover {
  transform: scale(1.05);
}

.skills__data i {
  font-size: x-large;
}

.skills__data span {
  font-size: large;
}

.skills__text {
  font-size: large;
}

/* Work */
.work__section {
  max-height: calc(100vh - 15rem);
  margin-top: 10rem;
}

.work__container {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 30px;
  max-height: 100vh;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  justify-items: center;
  grid-gap: 5px;
  grid-row-gap: 5px;
  position: inline-block;
}

.work__container img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 1s;
  cursor: pointer;
  position: inline-block;
}

.work__container img:hover {
  transform: scale(1.1);
}

/* Contact section */

.contact__section {
  margin: 15rem auto 1rem;
  max-width: max-content;
}

.contact__container {
  display: flex;
  justify-content: center;
  max-width: fit-content;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 3rem;
}
.contact__input {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 1;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid purple;
  outline: none;
  margin-bottom: 3rem;
}
.contact__button {
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  margin-left: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  bottom: 0;
  margin-top: 3rem;
  height: 15rem;
  width: 100%;
  background-color: purple;
}

.footer__title {
  font-size: x-large;
  font-weight: bold;
  top: 1px;
}

.footer__social i {
  color: white;
  font-size: x-large;
}

.show {
  right: 0;
}

/* Media queries */
@media screen and (max-width: 1199px) {
  /* About Section */

  .about_section {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* Work Section */
  .work__section {
    margin-top: 5rem;
  }
  .section-title {
    margin: auto;
  }

  .work__container {
    margin: 40px auto;

    max-width: 600px;

    /* changed */
    max-height: 90vh;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  /* Contact Section */

  .contact__section {
    /* margin: 10rem auto 1rem; */
    margin-top: 25rem;
    max-width: max-content;
  }
}

@media screen and (max-width: 1113px) {
  .nav__logo {
    display: none;
  }
  .navHead {
    margin: auto;
  }
}

@media screen and (max-width: 1026px) {
  html,
  body {
    overflow-x: hidden;
  }

  /* The particle side */

  #particles-js {
    height: calc(100vh);
  }

  /* Home image */

  .home__img img {
    margin-left: 250px;
  }
}

@media screen and (max-width: 1000px) {
  /* Home Image */

  .home__img img {
    display: none;
  }

  /* About section */

  .about__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .about__subtitle {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 4px;
  }

  .aboutText {
    font-size: 25px;
  }

  /* Skill section */

  .skills__container {
    margin-top: auto;
  }

  .row-1 {
    font-size: 20px;
  }

  .skills__text {
    font-size: 25px;
  }

  .skillImage {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  /* Home */
  .home__title {
    font-size: 50px;
    line-height: 80px;
  }
  .first button {
    resize: both;
  }
  .home__social {
    margin-top: 2rem;
  }

  /* About */

  .about_section {
    margin-top: 4rem;
  }

  .about__container {
    margin-left: auto;
    display: flex;
    align-content: center;
  }

  .about__img img {
    width: 280px;
    height: 280px;
    object-fit: cover;
  }
  .aboutText {
    width: 70%;
    font-size: 15px;
  }

  /* Skills */
  .skills__container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    margin-top: 1rem;
  }

  .skills__subtitle {
    font-size: 25px;
  }

  .skills__text {
    font-size: 15px;
  }

  /* Work Section */
  .work__section {
    margin-top: 1rem;
  }

  .work__container {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 30px;
    max-height: 100vh;

    grid-template-columns: repeat(auto-fill, minmax(97px, 1fr));
  }

  .work__container img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
    position: inline-block;
  }

  .contact__section {
    margin-top: 7rem;
  }

  .contact__form {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 320px) {
  /* Home */
  .home1 {
    margin-left: 4px;
  }

  /* About */

  .about_section {
    margin-top: 4rem;
  }

  .about__container {
    margin-top: 4rem;
    margin-left: auto;
    display: flex;
    align-content: center;
  }

  .about__img img {
    margin-top: 3rem;
    width: 270px;
    height: 270px;
    object-fit: cover;
  }
  .aboutText {
    width: 70%;
    font-size: 15px;
    margin-top: 3rem;
  }

  /* Skills */

  .skills_section {
    margin-top: 8rem;
  }

  /* Work Section */
  .work__section {
    margin-top: 4rem;
  }

  .work__container {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 30px;
    max-height: 100vh;

    grid-template-columns: repeat(auto-fill, minmax(97px, 1fr));
  }

  .work__container img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
    position: inline-block;
  }

  .contact__section {
    margin-top: 7rem;
  }

  .contact__form {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 295px) {
  .home1 {
    margin-left: 4px;
  }

  /* About */

  .about_section {
    margin-top: 4rem;
  }

  .about__container {
    margin-top: 4rem;
    margin-left: auto;
    display: flex;
    align-content: center;
  }

  .about__img img {
    margin-top: 3rem;
    width: 220px;
    height: 220px;
    object-fit: cover;
  }
  .aboutText {
    width: 70%;
    font-size: 15px;
    margin-top: 3rem;
  }

  /* Skills */

  .skills_section {
    margin-top: 4rem;
  }

  .skills__container {
    margin-top: 3rem;
  }

  /* Work Section */
  .work__section {
    margin-top: 2rem;
  }

  .work__container {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 30px;
    max-height: 100vh;

    grid-template-columns: repeat(auto-fill, minmax(94px, 1fr));
  }

  .work__container img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
    position: inline-block;
  }

  .contact__section {
    margin-top: 10rem;
  }

  .contact__form {
    margin-right: 10px;
    margin-left: 10px;
  }
}
